# Verification


## Fields

| Field                                                                      | Type                                                                       | Required                                                                   | Description                                                                |
| -------------------------------------------------------------------------- | -------------------------------------------------------------------------- | -------------------------------------------------------------------------- | -------------------------------------------------------------------------- |
| `state`                                                                    | [models.State](../models/state.md)                                         | :heavy_check_mark:                                                         | The verification state for the document.                                   |
| `metadata`                                                                 | [Optional[models.VerificationMetadata]](../models/verificationmetadata.md) | :heavy_minus_sign:                                                         | N/A                                                                        |